*
!.gitignore

!Qsys.qsys
!Qsys.sopcinfo

!DE10_LITE_D8M_VIP_assignment_defaults.qdf

!FpsMonitor.v
!EEE_IMGPROC_hw.tcl
!DE10_LITE_D8M_VIP.htm
!DE10_LITE_D8M_VIP.qpf
!DE10_LITE_D8M_VIP.SDC
!DE10_LITE_D8M_VIP.v

!greybox_tmp
!ip
!software
!output_files
