body{
    background-color: #f4f4f4;
    color: #705b5b;
    font: sans-serif;
    font-family: Gill Sans, sans-serif;
    font-stretch: ultra-expanded;
}

.status{
  border-radius: 8px;
  border: 2px solid #4CAF50;
}

.server{
  border-radius: 8px;
  border: 2px solid #4CAF50;
  width: 200px;


}

.container{
        width: 500px;
        margin: auto;
}

button{
  background-color: #af4c9e; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  border-radius: 8px;

}

button:hover {
    background-color: #4CAF50;
    color: white;
  }

input{
  border-radius: 8px;
  border: 2px solid #4CAF50;

}

.main-wrapper {
  width: 512px;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto;
}

#feedback{
  background-color: #353131;
  border: 2px solid #4CAF50;
  padding: 50px;
  color:aqua; 


}