:root {
    --main-back: #363333;
    --main-text: #f6e9e9;
    --status-back: #e16428;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-back);
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    font-stretch: ultra-expanded;
    padding: none;
    white-space: none;
}

.container {
    width: 90vw;
    margin-left: 5vw;
}

.left {
    float: left;
    padding: 5px;
    width: 20%;
}

.main-wrapper {
    float: left;
    padding: 60px 5px;
    width: 60%;
    text-align: center;
}

.right {
    float: left;
    padding: 5px;
    width: 20%;
}

.infoBoxBox {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    transition: 100ms linear;
}

#show-controls:checked~.infoBoxBox {
    visibility: visible;
    opacity: 1;
}

.infoBox {
    color: black;
    background-color: #ffffffbf;
    text-align: center;
    margin: auto;
    display: flex;
    height: 60vh;
    width: 80%;
}

.info {
    margin: auto;
}

.status {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--status-back);
}

.controlls {}

.routingOptions {}

.server {
    border-radius: 8px;
    border: 2px solid #4CAF50;
    width: 200px;
}

#feedback {
    overflow-y: scroll;
    height: 300px;
    width: 400px;
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    padding: 10px;
    border: 2px solid #4CAF50;
    color: aqua;
}

#instructionLog {
    overflow-y: scroll;
    height: 300px;
    font-family: 'Share Tech Mono', monospace;
    background-color: black;
    padding: 10px;
    border: 2px solid #4CAF50;
    color: aqua;
}

h1 {
    text-align: center;
}

#show-control-label {
    position: fixed;
    font-size: xxx-large;
    top: 15px;
    right: 30vw;
    z-index: 100;
}

button {
    background-color: #af4c9e;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 8px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

input {
    border-radius: 8px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 80vw;
        margin-left: 10vw;
    }
    .infoBox {
        height: 60vh;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .container {
        width: 60vw;
        margin-left: 20vw;
    }
    .infoBox {
        height: 40vh;
    }
}

@media screen and (max-width: 1100px) {
    .left {
        width: 100%;
    }
    .main-wrapper {
        width: 100%;
        padding: 20px;
    }
    .right {
        width: 100%;
    }
    #show-control-label {
        right: 10vw;
    }
}